#container {
    margin: auto;
    background-color: black;
    padding: .75%;
    width: 18rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1fr);
}

#Scherm-veld {
    color: white;
    margin: 2%;
    grid-column: span 4;
    height: 7.5rem;
    border: solid white 1px;
    margin-bottom: 1em;
    background-color: rgb(0, 0, 0);
}

#logo {
    grid-column: span 4;
    height: 2rem;
    color: white;
}
#logo p {
    margin-top: -2rem;
    margin-left: 6rem;
}


.btn {
    border: none;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
    
.b-f {background-color: orange;}
.b-fa {background-color: gray;}